.error-background-img{
    width: 100%;
    position: relative;
    margin: 0 auto;
    opacity: 0.7;
}

.error-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error{
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sad-face{
    text-shadow: var(--shadow) #606060;
    width: 300px;
    padding: 0 0 30px 0;
}

.error-404{
    font-size: 80px;
    text-shadow: var(--shadow) #757575;

}

.error404-message{
    color: black;
    font-size: 36px;
    text-shadow: var(--shadow) #757575;
    text-align: center;
    padding: 0 10px 0 10px;
}

.error404-message2{
    color: #353535;
    font-size: 22px;
    text-shadow: var(--shadow) #757575;
    text-align: center;
    padding: 0 10px 20px 10px;
}

.home-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 44px;
    background-color: #1122db;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    margin-top: 20px;
}

.home-link:hover{
    background-color: #000ab8;
}

@media only screen and (max-width: 1280px) {
    .sad-face{
        width: 200px;
    }

    .error-404{
        font-size: 62px;
    }

    .error404-message{
        font-size: 28px;
    }

    .error404-message2{
        font-size: 20px;
    }
}

@media only screen and (max-width: 840px) {
    .sad-face{
        width: 150px;
        padding: 0 0 10px 0;
    }

    .error-404{
        font-size: 52px;
    }

    .error404-message{
        font-size: 22px;
        padding: 0 10px 0 10px;
    }

    .error404-message2{
        font-size: 16px;
        padding: 0 10px 10px 10px;
    }
}

@media only screen and (max-width: 680px) {
    .sad-face{
        width: 100px;
    }

    .error-404{
        font-size: 32px;
    }

    .error404-message{
        font-size: 18px;
        padding: 0 5px 5px 5px;
    }

    .error404-message2{
        font-size: 14px;
    }

    .home-link{
        font-size: 14px;
        width: 150px;
        height: 36px;
        margin-top: 3px;
    }
}

@media only screen and (max-width: 475px) {
    .sad-face{
        display: none;
    }

    .error-404{
        font-size: 28px;
    }

    .error404-message {
        font-size: 12px;
        padding: 0 5px 0 5px;
    }


    .error404-message2{
        font-size: 11px;
    }

    .home-link{
        font-size: 12px;
        width: 100px;
        height: 25px;
        margin-top: 8px;
    }
}