@font-face {
    font-family: PermanentMarker;
    src: url('../fonts/permanentmarker.woff2') format('woff2');

}

@font-face {
    font-family: Roboto;
    src: url('../fonts/roboto_latin.woff2') format('woff2');
    font-weight: 300;
}

:root {
    --headercolor: #404040;
    --footercolor: #dedede;
    --shadow: 0 0.05rem 1rem;
}

*{
    font-family: Roboto;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    box-sizing: border-box;
}

.header {
    background-color: var(--headercolor);
    height: 70px;
    padding: 10px;
    align-items: center;
    display: flex;
}

.inset{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-family: PermanentMarker;
    color: white;
    font-size: 42px;
    padding: 5px;
    transition: font-size 0.2s;
    margin-top: -3px;
}

.logo:hover{
    font-size: 46px;
}

.logoMob{
    font-family: PermanentMarker;
    color: white;
    padding: 5px;
    display: none;
    margin-top: -3px;
}

.interact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

/********** search-bar ***********/
.search-box{
    display: inline-block;
    background: white;
    height: 15px;
    border-radius: 20px;
    padding: 10px;
    transition: 0.4s linear;
    position: relative;
}




.search-btn{
    float: right;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    outline: none;
    margin-top: -6px;
}


.search-icon{
    width: 23px;
    transition: width 0.2s ease-out;
}

.search-icon:hover{
    width: 27px;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    color: black;
    font-size: 16px;
    transition: all 0.5s;
    width: 180px;
    margin-top: -3px;
}

.shopping-cart{
    display: inline-block;
    padding:0 15px 0 15px;
}

.shopping-cart-btn{
}

.shopping-cart-icon{
    width: 37px;
    transition: width 0.2s ease-out;
}

.shopping-cart-icon:hover{
    width: 41px;
}

/******* login pop-up ********/

.user{
    display: inline-block;
}

.user-icon{
    width: 36px;
    color: white;
    transition: width 0.2s ease-out;
}

.user-icon:hover{
    width: 40px;
}

.pop-up-btn{
    padding: 10px;
    display:none;
}

.pop-up-icon{
    cursor: pointer;
}

.pop-up{
    position: absolute;
    margin: 0 auto;
    z-index: 2;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -15%);
    opacity: 0;
    display: none;
}

.pop-up-btn:checked ~ .pop-up{
    opacity: 1;
    display: inline-block;
}

.close-icon{
    position: absolute;
    cursor: pointer;
    margin-bottom: 8px;
    margin-top: 12px;
    margin-left: 190px;
}

.x-icon{
    display: block;
    width: 15px;
    position: relative;
    background: transparent;
    cursor: pointer;
    padding: 5px;
    transition: width 0.2s;
}

.x-icon:hover{
    width: 14px;
}

.close-btn{
    display: none;
}

.close-btn:checked ~ .login{
    max-height: 0;
    opacity: 0;
}

.close-btn:checked ~ .close-icon .x-icon:before{
    background: transparent;
}

.close-btn:checked ~ .close-icon .x-icon:after{
    background: transparent;
}


.login{
    height: auto;
    display: flex;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    background-color: var(--footercolor);
    border-radius: 15px;
    box-shadow: var(--shadow) var(--footercolor);
}



.login-headline{
    font-family: Roboto;
    margin: 0 auto;
    font-weight: 500;
    padding: 10px;
    font-size: 42px;
}

.input-login{
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.typein{
    margin: 0 auto;
    padding: 5px;
}

.typein-box{
    width: 160px;
    background-color: white;
    height: 16px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border: 1px solid #858585;
    border-radius: 10px;
    padding: 5px;
}

#username, #password{
    width: 153px;
    border: none;
    outline: none;
    color: black;
    font-size: 14px;
}

.input-submit{
    padding: 20px 10px 10px 10px;
}

.submit-btn{
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
    background-color: #404040;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;

}

.submit-btn:hover{
    box-shadow: var(--shadow) #b0b0b0;
}

.login-footer{
    padding: 5px;
}

.login-footer-link{
    color: black;
    font-size: 14px;
    transition: font-size 0.2s ease-out;
}

.login-footer-link:hover{
    font-size: 16px;
}

/******** media queries **************/

@media only screen and (max-width: 1280px) {
    .inset {
        width: 90%;
    }
}

@media only screen and (max-width: 760px) {

    body {
        overflow-x: hidden;
    }

    .header {
        height: 65px;
    }
}

@media only screen and (max-width: 570px) {
    .header {
        height: 60px;
    }

    .inset {
        width: 100%;
    }

    .search-txt {
        width: 0;
    }

    .logo {
        font-size: 38px;
    }

    .login{
        padding: 10px;
    }

    .close-icon{
        right: 12px;
    }
}

@media only screen and (max-width: 480px) {

    .header {
        height: 50px;
    }
}


@media only screen and (max-width: 370px) {
    .inset {
        width: 100%;
    }

    .search-txt {
        width: 0;
    }

    .logo {
        display: none;
    }

    .logoMob {
        font-family: PermanentMarker;
        display: flex;
        font-size: 38px;
    }
}
