.home{
    display: flex;
    justify-content: center;
    background-image: url("../img/BackgroundHomepage.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: max-content;
}

.home-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.about-us{
    display: flex;
    width: 70%;
    height: auto;
    background-color: white;
    padding: 10px;
    box-shadow: var(--shadow) #d0d0d0;
    filter: alpha(opacity=80);
    opacity: 0.9;
    -moz-opacity: 0.9;
    border-radius: 15px;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}

.about-us-mob{
    padding: 10px;
    height: auto;
    width: 90%;
    margin: 0 auto;
    display: none;
}

.about-us-headline{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
    border-bottom: 1px solid black;
}

.about-us-text{
    padding: 10px;
    font-size: 16px;
}

.show-more-checkbox{
    display: none;
}

.show-more-link{
    font-size: 16px;
    color: var(--btncolor);
    cursor: pointer;
    padding-left: 10px;
}

.show-less-link{
    font-size: 16px;
    color: var(--btncolor);
    cursor: pointer;
    padding-left: 10px;
    display: none;
}

.show-more-checkbox-mob{
    display: none;
}

.show-more-link-mob{
    font-size: 14px;
    color: var(--btncolor);
    cursor: pointer;
    padding-left: 5px;
}

.show-less-link-mob{
    font-size: 14px;
    color: var(--btncolor);
    cursor: pointer;
    padding-left: 5px;
    display: none;
}

.show-more-link:hover{
    color: var(--btnhvrcolor);
}

.about-us-text2{
    height: 0;
    opacity: 0;
    font-size: 16px;
    transition: height 0.5s ease-out;
    display: none;
}

.show-more-checkbox:checked ~.about-us-text2{
    height: auto;
    opacity: 1;
    padding: 10px;
    display: block;
}

.show-more-checkbox:checked ~.show-more-link{
    display: none;
}

.show-more-checkbox:checked ~.show-less-link{
    display: flex;
}

.show-more-checkbox-mob:checked ~.about-us-text2{
    height: auto;
    opacity: 1;
    padding: 10px;
    display: block;
}

.show-more-checkbox-mob:checked ~.show-more-link-mob{
    display: none;
}

.show-more-checkbox-mob:checked ~.show-less-link-mob{
    display: flex;
}

.top-seller{
    width: 70%;
    height: auto;
    border-radius: 20px;
    background-color: var(--footercolor);
    box-shadow: var(--shadow) #d0d0d0;
    filter: alpha(opacity=80);
    opacity: 0.9;
    -moz-opacity: 0.9;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.top-seller-headline{
    font-size: 28px;
    font-weight: normal;
    padding: 5px;
    display: flex;
}

.collum{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    padding: 10px;
}

.product-topseller{
    display: flex;
    flex-direction: column;
}

.product-topseller:hover{
    box-shadow: var(--shadow) #919191;
}

.link-topseller{
    margin: 2%;
    display: flex;
    justify-content: center;
}

.upper-topseller{
    height: 200px;
}

.img-topseller{
    height: 200px;
}

.lower-topseller{
    height: 55px;
    background-color: white;
    text-align: center;
    padding: 3px 0 0 0;
    width: auto;
}

.footer{
    width: 100%;
    height: 120px;
    background-color: var(--footercolor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: absolute;
    overflow: hidden;
    bottom: 0;
}

.bottom{
    padding: 5px;
    font-size: 16px;
    font-weight: normal;
    color: black;
}

.bottom a{
    font-size: 16px;
    color: black;
    transition: 0.1s;
}

@media only screen and (max-width: 1280px) {

    .top-seller {
        margin-top: 10px;
        width: 90%;
    }

    .home{
        height: max-content;
    }

    .about-us {
        width: 90%;
        margin-top: 10px;
    }

    .about-us-text{
        font-size: 14px;
        padding-bottom: 2px;
    }

    .about-us-text2{
        font-size: 14px;
        padding-bottom: 2px;
    }

    .show-more-checkbox:checked ~.about-us-text2{
        height: auto;
        opacity: 1;
        padding: 10px;
        display: block;

    }

}
@media only screen and (max-width: 1480px){
    .top-seller{
        margin-top: 25px;
    }

    .about-us{
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .about-us-text{
        font-size: 14px;
        padding: 5px;
    }

    .about-us-headline{
        font-size: 20px;
        padding: 5px;
    }
}
@media only screen and (max-width: 1040px){

    .about-us{
        width: 95%;
        padding: 5px;
        height: auto;
        overflow-y: auto;
        margin-top: 25px;
    }

    .about-us-headline{
        padding: 5px;
    }


    .top-seller{
        width: 90%;
        padding: 5px;
        background: transparent;
        box-shadow: none;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .top-seller-headline{
        font-size: 22px;
        font-weight: bold;
        padding: 5px 0 0 10px;
    }

    .about-us-mob{
        display: flex;
        flex-direction: column;
    }

    .about-us{
        display: none;
    }

    .collum{
         padding: 0;
     }

}

@media only screen and (max-width: 860px) {

    .bottom{
        font-size: 14px;
    }


}

@media only screen and (max-width: 760px) {
    .home{
        flex-direction: column;
    }

    .top-seller{
        margin-top: 0;
        width: 90%;
    }
    .upper-topseller{
        height: 150px;
    }

    .img-topseller{
        height: 150px;
    }
}

@media only screen and (max-width: 600px){
    .top-seller{
        background: transparent;
        box-shadow: none;
    }

    .top-seller-headline{
        font-size: 18px;
        font-weight: bold;
    }

    .product-topseller{
        box-shadow: var(--shadow) #838383;
    }

    .background-img{
        display: none;
    }

    .home-input{
        position: static;
    }
}

@media only screen and (max-width: 400px){
    .upper-topseller{
        height: 125px;
    }

    .img-topseller{
        height: 125px;
    }
}