:root {
    --headerandfootercolor: #606060;
    --navcolor: #505050;
    --navcolor2: black;
    --sitecolor: #404040;
}

nav {
    background: var(--navcolor);
}

nav a:hover {
    cursor: crosshair;
    background: var(--navcolor2);
}