:root {
    --headerandfootercolor: #606060;
    --navcolor: orange;
    --navcolor2: green;
    --sitecolor: #404040;
}

.jakob {
    background: var(--navcolor);
}

.jakob a:hover {
    background: var(--navcolor2);
}