.successful-login, .error-message-box{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    position: absolute;
    z-index: 4;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -15%);
    border-radius: 20px;
    text-align: center;
    -moz-animation: cssAnimation 0s ease-in 10s forwards;
    -webkit-animation: cssAnimation 0s ease-in 10s forwards;
    -o-animation: cssAnimation 0s ease-in 10s forwards;
    animation: cssAnimation 0s ease-in 10s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    background: transparent;

}

.error-text{
    background-color: #ff5656;
    box-shadow: 0 0.05rem 0.5rem #ffae73;
    padding: 10px 15px 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 5px;
    border: 1px solid red;
    color: white;
}


@keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        overflow: hidden;
        padding: 0;
    }
}

@-webkit-keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        overflow: hidden;
        padding: 0;
    }

}

.check-icon{
    width: 20px;
    padding: 0 10px 0 0;
}

.x-not-icon{
    width: 15px;
    cursor: pointer;
    padding: 0 0 0 10px;
}

.close-not-btn{
    display: none;
}

.close-not-btn:checked ~ .successful-login{
    display: none;
    opacity: 0;
}

.red-x-icon{
    width: 20px;
    padding: 0 10px 0 0;
}

.close-error-btn{
    display: none;
}

.close-error-btn:checked ~ .error-message{
    display: none;
    opacity: 0;
}

.login-inset{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/Background/login.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: max-content;
    min-height: 750px;
}

.second-login{
    width: max-content;
    margin: 20px;
}

@media only screen and (max-width: 1240px) {
    .login-inset{
        min-height: 0;
        background-image: none;

    }
}

