.main{
    display: flex;
    width: 70%;
    margin: 0 auto;
    flex-wrap: wrap;
}
.inset-product{
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 0 0 10px 0;
}

.product-img-box{
    padding: 15px;
    display: flex;
    width: auto;
    height: auto;
}

.product-img{
    width: 400px;
    height: 400px;
    box-shadow: var(--shadow) #c1c1c1;

}

.product-description-box{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.product-description-box-mob{
    display: none;
}

.pp-input{
    display: flex;
    justify-content: space-between;
}

.product-data{
    padding: 5px;
}

.brand-logo{
    height: 65px;
}

.pp-brand{
    font-weight: bold;
    font-size: 28px;
    padding: 5px 0 2px 0;
}

.pp-model{
    font-weight: normal;
    font-size: 24px;
    padding: 3px 0 2px 0;
}

.pp-color{
    font-weight: normal;
    font-size: 24px;
    padding: 2px 0 2px 0;
}

.pp-price{
    font-weight: bold;
    font-size: 22px;
    padding: 5px 0 0 0;
}

.add-to-cart{
    padding:  20px;
}

.add-to-cart-box{
    display: flex;
}

.add-to-cart-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 44px;
    background-color: #1122db;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    outline: none;
}

.add-to-cart-btn:hover{
    background-color: #000ab8;
}

.shopping-bag-icon{
    width: 20px;
    padding: 0 10px 0 0;
    margin-bottom: 3px;
}

.product-description-text-box{
    padding: 5px;
    width: 75%;
}

.show-description-box{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.arrow-icon{
    width: 1rem;
    margin-top: 3px;
}

.product-description-headline{
    width: max-content;
    font-size: 20px;
    padding-right: 10px;
}

.show-description-btn{
    display: none;
}

.product-description-text{
    font-size: 14px;
    padding: 5px 0 0 0;
    height: 0;
    opacity: 0;
    transition: height 0.2s ease-out;
}

.hide-description-box{
    display: none;
    align-items: center;
    cursor: pointer;
}

.show-description-btn:checked ~.product-description-text{
    height: max-content;
    opacity: 1;
}

.show-description-btn:checked ~.hide-description-box{
    display: flex;
}

.show-description-btn:checked ~.show-description-box{
    display: none;
}

.show-description-btn-mob:checked ~.hide-description-box{
    display: flex;
}

.show-description-btn-mob:checked ~.show-description-box{
    display: none;
}

.show-description-btn-mob:checked ~.product-description-text{
    height: max-content;
    opacity: 1;
}

.all-Products-brand{
    display: flex;
    justify-content: center;
    padding: 15px 15px 20px 15px;
    width: 100%;
    height: auto;
}

.all-Products-box{
    width: 100%;
    height: auto;
    padding: 5px;
    background-color: var(--footercolor);
    box-shadow: var(--shadow) #c3c3c3;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.all-Products-headline{
    padding: 10px 0 0 10px;
    font-size: 22px;
}

.product-scrollbar{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    padding: 10px;
    overflow-y: hidden;
}

@media only screen and (max-width: 1280px) {

    .main{
        width: 90%;
    }
    .product-img {
        width: 300px;
        height: 300px;
    }

    .product-scrollbar{
        padding: 0;
    }
}

@media only screen and (max-width: 760px) {
    .pp-brand{
        font-size: 24px;
    }

    .pp-model{
        font-size: 22px;
    }

    .pp-color{
        font-size: 22px;
    }

    .pp-price{
        font-size: 20px;
    }

    .product-description-text-box{
        display: none;
    }

    .product-description-box-mob{
        display: flex;
        flex-direction: column;
        padding: 0 10px 20px 20px;

    }

    .all-Products-brand{
        padding: 0 0 10px 0;
    }
    .all-Products-box{
        width: 95%;
    }
}

@media only screen and (max-width: 630px){
    .product-description-box{
        width: 100%;
    }
    .product-img{
        width: 100%;
        height: auto;
    }
    .inset-product{
        flex-wrap: wrap;
        justify-content: center;
    }

    .add-to-cart{
        padding: 10px;
    }

    .add-to-cart-box{
        justify-content: center;
    }
}

@media only screen and (max-width: 480px) {
    .pp-brand {
        font-size: 22px;
    }

    .pp-model {
        font-size: 20px;
    }

    .pp-color {
        font-size: 20px;
    }

    .pp-price {
        font-size: 18px;
    }

    .brand-logo{
        display: none;
    }
}

