.view-background{
    width: 100%;
    background-image: url("../img/view-background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: max-content;
    display: flex;
    justify-content: center;
    min-height: 750px;
}

.view-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
    width: max-content;
    text-align: center;
    padding: 15px;
    background-color: var(--footercolor);
    opacity: 0.9;
    border-radius: 10px;
    height: max-content;
}

.view-headline{
    margin-top: 5px;
    padding: 5px;
    font-size: 26px;
}

.view-content{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.view-display{
    width: 250px;
    background-color: white;
    height: 24px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border: 1px solid #858585;
    border-radius: 10px;
    padding: 5px;
}

.view-edit-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-edit{
    padding: 10px 15px 10px 15px;
    background-color: #1122db;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    outline: none;
}

.view-edit:hover{
    background-color: var(--btnhvrcolor);
}

.logout-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 10px 10px 10px;
}

.logout-btn{
    padding: 10px 15px 10px 15px;
    background-color: var(--headercolor);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    border-radius: 10px;
}

.logout-btn:hover{
    box-shadow: var(--shadow) #818181;
}

.view-action{
    padding: 5px 10px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.view-action-box{
    padding: 10px;
}

.pw-edit-box{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.pw-edit-label{
    font-weight: bold;
    padding-bottom: 5px;
    cursor: pointer;
    color: var(--btncolor);
}

.pw-btn{
    display: none;
}

.new-pw-box{
    display: none;
    flex-direction: column;
    padding: 10px;
}

.pw-btn:checked ~ .new-pw-box{
    display: flex;
}

@media only screen and (max-width: 1470px){
    .view-background{
        background-image: none;
        min-height: 0;
    }

    .view-box{
        background-color: white;
        margin: 0;
    }
}