.ty-main{
    width: 100%;
    display: flex;
    justify-content: center;
}

.ty-box{
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--footercolor);
    padding: 20px;
    box-shadow: var(--shadow) #c8c8c8;
    border-radius: 10px;
    opacity: 0.9;
    margin-top: 10%;
    margin-bottom: 10%;

}

.ty-headline{
    text-align: center;
}

.ty-check-icon{
    width: 30%;
    padding: 20px;
}

.ty-subhead{
    font-weight: normal;
    font-size: 20px;
    text-align: center;
}